<body style='background: url(https://previews.dropbox.com/p/thumb/AAj4GUm72GW_yGFnNDR2bgMcAJTaIlShtQtTyEs5olaJs94y3BRd9KEHjnloViBYQ7J7VTigDhGKnC5UXNHSspqcVsYH_H_pB1utVkrLTgSe3RzIr_JDHiinJBw9pL6bIE5BCT_ehZIW0uK55T_2T6nwb2ycWd0HXCScHtoQ2NwvPpbqW0rAXNIF-25YBc4TcRWkVWobYPh3hkrjiGvuHlnhBxLn8EoYMT6xBTIhnrGoATYsManePVxDugC2TUWED5I55WIeLw-cISFTbFFboZOGKH8h0D9lMkvv4N2tCJKORiS2CT3OjLKYYbNjZsirboP8uo9TVV5-WrFdt-en6oVT/p.jpeg?fv_content=true&size_mode=5); color: black; letter-spacing: 2px; text-align:center'>
<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>
<h2>Saved bookmarks:</h2>
<ul style = 'list-style:none'>
<br>
  <% @bookmarks.each do |bookmark| %>
  <li id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <br>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="delete it" />
    </form>
    <br>
    <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="edit it" />
    </form>
    <br>
    <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
      <input type="submit" value="comment it" />
      </form>
      <br>
    <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="tag it" />
      </form>

      <div>
      </ul>	        <h4>Comments</h4>
        <ul style = 'list-style:none'>
          <% bookmark.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        </ul>
      </div>
       <% if bookmark.tags.length > 0 %>
        <h4>Tags</h4>
        <div>
        <ul style = 'list-style:none'>
          <% bookmark.tags.each do |tag| %>
           <ul style = 'list-style:none'>
            <li><%= tag.content %></li>
             <% bookmark.tags.each do |tag| %>
          <% end %>
          <li>
        </ul>
          <a href="/tags/<%= tag.id %>/bookmarks">
      </div>
       <%= tag.content %>
        </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
  </li>
<% end %>

</ul>
<p>
  <%= flash[:notice] %>
</p>
<br>
<br>
<br>
<br>

<div style='text-align: right'>

<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/bookmarks/new'>
<p style='text-decoration:none'>add more</p>
<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/'>
<p style='text-decoration:none'>back</p>

</div>



</body>